<ActionBar title="Micro:Bit Slither" class="action-bar"></ActionBar>
<ScrollView>
    <StackLayout class="page">
        <Label text="Welcome to micro:bit slither!" class="title"></Label>
        <GridLayout *ngIf="multiplayer" columns="auto, auto" rows="auto, auto">
            <Label row="0" col="0" text="Player 1" class="subtitle"></Label>
            <Image row="1" col="0" #player1 src="res://snakeblue" width="50%" horizontalAlignment="center"></Image>
            <Label row="0" col="1" text="Player 2" class="subtitle"></Label>
            <Image row="1" col="1" #player2 src="res://snakegrey" width="50%" horizontalAlignment="center"></Image>
        </GridLayout>
        <StackLayout *ngIf="!multiplayer">
            <Label row="0" col="0" text="Player 1" class="subtitle"></Label>
            <Image row="1" col="0" #player1 src="res://snakeblue" width="50%" horizontalAlignment="center"></Image>
        </StackLayout>
        <Button class="{{scanning ? 'special' : 'none'}}"
                text="{{scanning ? scanningText : 'Press to find players'}}"
                (tap)="scan()"
                isEnabled="{{!scanning}}"></Button>
        <Button text="{{multiplayer ? 'Toggle Mode: Multiplayer' : 'Toggle Mode: Singleplayer'}}"
                (tap)="toggleMode()"></Button>
        <Button text="Play the game!" (tap)="playGame()"></Button>
    </StackLayout>
</ScrollView>
